---

---

<div class="button">
<h2>GIV DIN STØTTE</h2>
</div>

<style>h2{
display: inline-flex;
padding: var(--Spacing-xs, 1rem) 1.5rem;
justify-content: center;
align-items: center;
}

.button{
border-radius: var(--radius-xl, 3.125rem);
background: var(--Red, #FE500D);
}
</style>